<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <servlet>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>pl.hit.servlets.jsp.HeaderServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>FooterServlet</servlet-name>
    <servlet-class>pl.hit.servlets.jsp.FooterServlet</servlet-class>
  </servlet>

</web-app>
